.difhdsihsfdio {
  width: 100%;
  height: 100%;
  padding-left: 72px;
  padding-right: 72px;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 40px;
  display: inline-flex;
}
.uidhsdiofhdsiudk {
  width: 180px;
  height: 180px;
  position: relative;
}
.dfsgidubfuisfd {
  width: 180px;
  height: 180px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.fdsuighfiugfhifd {
  width: 180px;
  height: 180px;
  left: 0px;
  top: 0px;
  position: absolute;
  border-radius: 9999px;
}
.dioufhgoidsfghoigsdhio {
  width: 180px;
  height: 180px;
  left: 0px;
  top: 0px;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
  border: 8px var(--Orange-50) solid;
}
.siodguhsdfoiughiuos {
  width: 40px;
  height: 40px;
  left: 127px;
  top: 140px;
  position: absolute;
}
.iofguhdsfiogsdi {
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  position: absolute;
  border-radius: 9999px;
}
.sdiufgohsdfioghios {
  width: 24px;
  height: 24px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  left: 8px;
  top: 8px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.sdufgdfsuisfiusiso {
  width: 20px;
  height: 18px;
}
.iusfgsdiahfa {
  flex: 1 1 0;
  height: 101px;
  padding-bottom: 40px;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}
.suidgfsdoiubgoho {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
}
.sdiufhgsioghisdo {
  color: #083a50;
  font-size: 24px;
  font-family: "regular-font";
  font-weight: 700;
  word-wrap: break-word;
}
.suidfgsdiofgsdaioaioas {
  color: #083a50;
  font-size: 20px;
  font-family: thin-font;
  font-weight: 600;
  line-height: 19.6px;
  word-wrap: break-word;
}
.ssisoghsdfihiof {
  position: relative;
}
.sdighsifsdhio {
  width: 48px;
  height: 48px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: rgba(232, 234, 238, 0.5);
  border-radius: 9999px;
}
.iufghsdisis {
  left: 12px;
  top: 12px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.isfdufghsdfipuhios {
  width: 6px;
  height: 6px;
  left: 15px;
  top: 2px;
  position: absolute;
  border: 2px #caced8 solid;
}
.uisoghisdphsioas {
  width: 6px;
  height: 6px;
  left: 3px;
  top: 9px;
  position: absolute;
  border: 2px #caced8 solid;
}
.sdifghdfsogbhfifsd {
  width: 6px;
  height: 6px;
  left: 15px;
  top: 16px;
  position: absolute;
  border: 2px #caced8 solid;
}
.sudfgsdofgdosuo {
  width: 6.83px;
  height: 3.98px;
  left: 8.59px;
  top: 13.51px;
  position: absolute;
  border: 2px #caced8 solid;
}
.sifgsdiohisfaiso {
  width: 6.82px;
  height: 3.98px;
  left: 8.59px;
  top: 6.51px;
  position: absolute;
  border: 2px #caced8 solid;
}
.sduidfgsdfsiu {
  width: 100%;
  height: 100%;
  padding-left: 64px;
  padding-right: 64px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 64px;
  display: inline-flex;
}
.sdfsdioufhsdaio {
  width: 217px;
  height: 461px;
  position: relative;
}
.sdfhsdoiufhisou {
  width: 185px;
  height: 251.27px;
  left: 0px;
  top: 37.49px;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
}
.dofghsdfoighfsdoi {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 90px;
  background: #eaf8f5;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}
.dsoidghsdfoigfduis {
  color: #083a50;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 19.6px;
  word-wrap: break-word;
}
.djfgnfdklgfls {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 78px;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}
.sajduhdsoiufghfsdoiidsfoi {
  color: #caced8;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 19.6px;
  word-wrap: break-word;
}
.sjdfgisdagifaiosi {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 79px;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}
.sdufbsdhiofbsdhdpisfbisd {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 19px;
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}
.dsghbsaiugfhdidspiso {
  width: 461px;
  height: 0px;
  left: 217px;
  top: 461px;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  border: 2px rgba(232, 234, 238, 0.4) solid;
}
.dsfghsadiofgsdoiuss {
  flex: 1 1 0;
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  display: inline-flex;
}
.sfdfdjghsdafgbsdfi {
  align-self: stretch;
  height: 461px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  display: flex;
}
.asghsdipbsihsiosaosi {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}
.dsufgsdhifdhsoisda {
  color: #caced8;
  font-size: 24px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
}
.fsdoghpighsdappoaop {
  text-align: right;
  color: #caced8;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
}
.jsdgbpsdiahisdg {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 61px;
  display: inline-flex;
}
.sikghsdipugsbhisio {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
}
.dghdfpsiohp {
  align-self: stretch;
  height: 112px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  display: flex;
}
.duisdfgsdhioubgidoosi {
  align-self: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
}
.sagfbsdoiufbdsoi {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: inline-flex;
}
.sudfgsdoiughsdio {
  width: 252.25px;
  padding-right: 171.25px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}
.dsibgsdpifhdsiasdoi {
  align-self: stretch;
  height: 44px;
  padding-left: 12px;
  padding-right: 12px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px #caced8 solid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.ifghsdfopiopofds {
  color: #083a50;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 400;
  line-height: 19.6px;
  word-wrap: break-word;
}
.profile__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  background: #ffffff;
  border-radius: 20px;
}
.profile__routes {
  width: 100%;
  list-style-type: none;
  display: flex;
  height: 5rem;
  padding: 1rem 0.5rem;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  box-shadow: 0px 2px 5px -3px #000;
  font-size: 1.3rem;
}
.profile__routes li {
  font-size: 1.4rem;
  font-family: regular-font;
  font-weight: 400;
  color: #000;
  transition: all linear 0.1s;
  cursor: pointer;
}
.profile__routes-active {
  border-bottom: 3px var(--Orange-50) solid;
}
.profile__route {
  width: 100%;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.profile__route img {
  width: 2rem;
  height: 2rem;
}
.profile__route {
  width: 100%;
}
.aeregrwew {
  display: flex;
  gap: 0.5rem;
}
.profile__edit__form {
  width: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: space-between;
}
.srighia {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}
#profile__edit__fullName {
  width: 20rem;
  height: 3rem;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px -3px;
  padding: 0 1rem;
  font-size: 1rem;
}
#profile__edit__email {
  width: 20rem;
  height: 3rem;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px -3px;
  padding: 0 1rem;
  font-size: 1rem;
}
.profile__edit__btn {
  padding: 0.5rem 2rem;
  height: 3rem;
}
.profile__edit__input-alert {
  border-bottom: 3px solid rgba(255, 0, 0, 0.763) !important;
}
#profile__edit__image {
  background: #000;
}
.upLouder {
  border-radius: 10px !important;
  background: rgba(var(--Orange-30), 0.6) !important;
}
.dsfdsadsasdaf {
  font-size: 1rem;
}
.iufghsdisis {
  cursor: pointer;
}
.logAdminPanel {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #ffffff;
  background: var(--Orange-50);
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all linear 0.1s;
}
.logAdminPanel:active {
  scale: 98%;
}
