.footer {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 30px;
  padding-left: 162px;
  padding-right: 162px;
  background: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  display: inline-flex;
}
.gfhsfduif {
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-start;
  display: inline-flex;
}
.dfsd {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  display: inline-flex;
}
.dfs {
  width: 54px;
  height: 54px;
  padding: 7px;
  background: #ff9500;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.fgefq {
  width: 40px;
  height: 40px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.edfdsds {
  width: 32.5px;
  height: 32.5px;
  background: url("/images/shape-17.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ksak {
  flex-direction: column;
  width: 392px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}
.wksal {
  border-radius: 6px;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  display: flex;
}
.woltrjck {
  width: 24px;
  height: 24px;
  position: relative;
}
.eikfg {
  width: 21px;
  height: 16.5px;
  left: 1.5px;
  top: 3.75px;
  position: absolute;
}
.djdss {
  color: #262626;
  font-size: 18px;
  font-family: 'regular-font';
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.lslrf {
  border-radius: 6px;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  display: flex;
}
.dsfdsa {
  width: 24px;
  height: 24px;
  position: relative;
}
.fsd {
  width: 21px;
  height: 21px;
  left: 1.5px;
  top: 1.5px;
  position: absolute;
  background: #262626;
}
.fsdsadisd {
  color: #262626;
  font-size: 18px;
  font-family: 'regular-font';
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.etsk {
  border-radius: 6px;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  display: flex;
}
.swrgfsd {
  width: 24px;
  height: 24px;
  position: relative;
}
.fsdsf {
  width: 16.5px;
  height: 20.25px;
  left: 3.75px;
  top: 2.25px;
  position: absolute;
  background: #262626;
}
.dfsddsd {
  color: #262626;
  font-size: 18px;
  font-family: 'regular-font';
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.daoan {
  height: 176px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  display: flex;
}
.dfshdfd {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
  display: inline-flex;
}
.owhggloj {
  align-self: stretch;
  color: #262626;
  font-size: 20px;
  font-family: boldFont;
  font-weight: 600;
  line-height: 30px;
  word-wrap: break-word;
}
.latlhjswl {
  align-self: stretch;
  height: 132px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.wognsf {
  align-self: stretch;
  color: #59595a;
  font-size: 18px;
  font-family: 'regular-font';
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.daofoa {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
  display: inline-flex;
}
.mjsa {
  align-self: stretch;
  color: #262626;
  font-size: 20px;
  font-family: boldFont;
  font-weight: 600;
  line-height: 30px;
  word-wrap: break-word;
  width: 151px;
}
.ifsdfodsi {
  align-self: stretch;
  height: 97px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.sdhfsdi {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
  display: inline-flex;
}
.dsihsdi {
  padding: 14px;
  background: #f7f7f8;
  border-radius: 8px;
  border: 1px #f1f1f3 solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}
.sdfiaioios {
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pshghkhth {
  width: 24px;
  height: 23.85px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #333333;
}
.dihghyugvyusd {
  width: 24px;
  height: 19.5px;
  left: -0px;
  top: 2.25px;
  position: absolute;
  background: #333333;
}
.pgswggkpsgct {
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #333333;
}
.hjeovfcxncmv {
  align-self: stretch;
  height: 0px;
  border: 1px #f1f1f3 solid;
}
.fsdgfdasdjfds {
  align-self: stretch;
  text-align: center;
  color: #656567;
  font-size: 18px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.sdfiaioios {
  cursor: pointer;
  transition: all linear 0.15s;
}
.sdfiaioios:active {
  color: #ffffff;
}
.wognsf {
  transition: all linear 0.15s;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 10px;
}
.wognsf:hover {
  background: var(--Orange-50);
  color: var(--Absolute-White);
}
.wognsf:active {
  scale: 98%;
}
