.CmsComments {
  padding: 3rem;
  width: 100%;
  height: 39rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: scroll;
}
.comment {
  width: 100%;
  height: 15rem;
  box-shadow: 1px 1px 10px -5px #000;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  gap: 2rem;
}
.comment img {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.CmsComments__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.rtyqqf {
  height: 5rem;
  overflow-y: scroll;
}
.asdfadf {
  font-size: 1.1rem;
  font-weight: 600;
}

.trawert {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.stuyqr {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.deleteComment {
  width: 3rem;
  height: 3rem;
  background: url("/public/images/delete.svg");
  transition: all linear 0.1s;
  cursor: pointer;
}
.deleteComment:active {
  scale: 97%;
}
.noComments{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    opacity: 0.2;
}
.noComments__text{
    font-size: 1.4rem;
    font-weight: 600;

}
.noComments__image{
    width: 10rem;
    height: 10rem;
}