.navbar {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 24px;
  padding-left: 132px;
  padding-right: 132px;
  border-bottom: 1px #f1f1f3 solid;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}
.left-navbar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  display: flex;
}
.right-navbar {
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  display: flex;
}
.left-left-navbar {
  width: 54px;
  height: 54px;
  padding: 7px;
  background: #ff9500;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}
.right-left-navbar {
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
  display: flex;
  margin-left: 30px;
}
.son-left-left-navbar {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.son-son-left-left-navbar {
  width: 32.5px;
  height: 32.5px;
  background: url("/images/shape-17.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tow-son-right-left-navbar {
  color: #262626;
  font-size: 18px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.three-son-right-left-navbar {
  color: #262626;
  font-size: 18px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.forth-son-right-left-navbar {
  color: #262626;
  font-size: 18px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.five-son-right-left-navbar {
  color: #262626;
  font-size: 18px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.son-one-son-right-left-navbar {
  color: #262626;
  font-size: 18px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.left-right-navbar {
  width: 71px;
  color: #262626;
  font-size: 18px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
  cursor: pointer;
  transition: all linear 0.2s;
}
.left-right-navbar:active {
  scale: 90%;
}
.right-right-navbar {
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: #ff9500;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: flex;
  transition: all linear 0.15s;
  cursor: pointer;
}
.right-right-navbar:hover {
  background: var(--Absolute-White);
}
.son-right-right-navbar {
  transition: all linear 0.1s;
}
.right-right-navbar:hover .son-right-right-navbar {
  color: var(--Orange-50);
}
.right-right-navbar:active .son-right-right-navbar {
  color: var(--Absolute-White);
}
.menu {
  display: none !important;
}

.son-right-right-navbar {
  color: white;
  font-size: 18px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.fdssd {
  font-size: 14px !important;
  font-weight: 10;
  font-family: boldFont;
}

.activeNav {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: rgba(191, 185, 185, 0.614);
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
  transition: all linear 0.2s;
}
.fsdfuktsddfsrt {
  display: flex;
}
.sidebar {
  width: 300px;
  height: 100vh;
  box-shadow: 0px 0px 10px -5px #000;
  position: fixed;
  right: -434px;
  top: 0;
  background: #ffffff;
  z-index: 1000;
  transition: all ease-in 0.3s;
}
.sidebarActive {
  right: 0;
  top: 0;
  transition: all ease-out 0.3s;
}
.clearIconSidebar {
  color: #ff9500;
}
.side {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.selectBoxSidebar {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.selectBoxSidebar div {
  font-size: 21px;
  border-bottom: 1px solid var(--Orange-50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.logo h2 {
  color: var(--Orange-50);
}
.loginProfile {
  height: 400px;
  width: 50%;
  border: dashed 3px var(--Orange-50);
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.sidebarLoginBtn {
  padding: 15px 20px;
  background: var(--Orange-50);
  color: var(--Absolute-White);
  border-radius: 10px;
  cursor: pointer;
  transition: all linear 0.3s;
  border-radius: 20px;
}
.sidebarLoginBtn:active {
  background: #000;
  scale: 98%;
}
.routerSidebar {
  background: var(--Orange-50);
  color: var(--Absolute-White);
}
.des {
  padding: 0 1rem;
  border-bottom: 1px solid var(--Orange-50);
}
.selectBoxSidebar div {
  font-size: 1rem;
  padding: 0.4rem 0;
  border: 0px;
}
.Profile {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  cursor: pointer;
}
.dfraeg {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.weefref {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.asdg {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}
.hgsfdc {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
