.topbar {
  width: 100%;
  height: 35px;
  background: var(--Orange-50);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.son-topbar {
    width: 100%;
    height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.son-topbar span {
  color: var(--Absolute-White);
  font-family: boldFont;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.son-topbar-icon{
    color: var(--Absolute-White);
}