.siodhgsdihis {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  border-bottom: 1px #e4e4e7 solid;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  display: inline-flex;
}
.frjfglskdrkfog {
  flex: 1 1 0;
  color: #262626;
  font-size: 48px;
  font-family: boldFont;
  font-weight: 600;
  line-height: 72px;
  word-wrap: break-word;
}
.sadfhdsisdaasi {
  flex: 1 1 0;
  color: #59595a;
  font-size: 18px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.concat__grid {
  width: 100%;
  height: auto;
  background: #000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.concat__grid__form {
  grid-column: 1 / 3;
  background: red;
}
.igybdsuisddiu {
  width: 100%;
  height: 100%;
  padding: 80px;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  display: inline-flex;
}
.ffugbsdfus {
  align-self: stretch;
  height: 393px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  display: flex;
}
.fghsdfisiuo {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  display: inline-flex;
}
.sduifghfsd {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: inline-flex;
}
.dsifoghiasalo {
  align-self: stretch;
  color: #262626;
  font-size: 18px;
  font-family: boldFont;
  font-weight: 500;
  line-height: 27px;
  word-wrap: break-word;
}
.sfiugsaifdsfs {
  align-self: stretch;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #fcfcfd;
  border-radius: 8px;
  border: 1px #f1f1f3 solid;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
}
.sdbsdaifbsai {
  flex: 1 1 0;
  color: #656567;
  font-size: 18px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}
.didsfghfdhdf {
  align-self: stretch;
  height: 111px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}
.dhhjjsssskgsfuahbs {
  align-self: stretch;
  height: 213px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}
.soidfhsaidofasdh {
  align-self: stretch;
  height: 170px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #fcfcfd;
  border-radius: 8px;
  border: 1px #f1f1f3 solid;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;
}
.sdoiusdiodasohiou {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  background: #ff9500;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  border: 0px;
  font-size: 16px;
}
.sdoifhidofas {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: boldFont;
  font-weight: 500;
  line-height: 27px;
  word-wrap: break-word;
}
.oifghsdfiougnhsap {
  width: 100%;
  height: 100%;
  padding: 80px;
  background: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  display: inline-flex;
}
.sfudiogbasdoifbhiodsbsdia {
  align-self: stretch;
  flex: 1 1 0;
  padding: 30px;
  background: #fcfcfd;
  border-radius: 8px;
  border: 1px #f1f1f3 solid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
}
.sdfioughsadiofhsdaifdsio {
  padding: 14px;
  background: #f7f7f8;
  border-radius: 8px;
  border: 1px #f1f1f3 solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}
.gsaouidgfhdsaihgsdaiufsadhio {
  width: 24px;
  height: 24px;
  position: relative;
}
.sdgiohsiouadodaop {
  width: 21px;
  height: 16.5px;
  left: 1.5px;
  top: 3.75px;
  position: absolute;
  background: url('/images/massage.svg');
}
.dsfoighaipwwehfsdapoifasd {
  align-self: stretch;
  text-align: center;
  color: #4c4c4d;
  font-size: 18px;
  font-family: regular-font;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
.sdfoighosinaspif {
  width: 21px;
  height: 21px;
  left: 1.5px;
  top: 1.5px;
  position: absolute;
  background: url('/images/phone.svg');
}
.sdofighsaiofhsdifi {
  width: 16.5px;
  height: 20.25px;
  left: 3.75px;
  top: 2.25px;
  position: absolute;
  background: url('/images/locate.svg');
}
.sdfigohoifhsdiafnsda {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
  display: inline-flex;
}
.dsfioghaiposhjfpodhsaio {
  padding: 14px;
  background: #f7f7f8;
  border-radius: 8px;
  border: 1px #f1f1f3 solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}
.sdioufghsadiofhsdaiufhnaioasdi {
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #333333;
}
.waiodhfiodsfasdiop {
  width: 24px;
  height: 23.85px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: url('../../../public/images/facebook.svg');
}
.zsoiudfpawohdspa {
  width: 24px;
  height: 19.5px;
  left: -0px;
  top: 2.25px;
  position: absolute;
  background: url('/images/twiter.svg');
}
.edfsadrttsafsd{
  background: url('/images/linkdein.svg');
}