.showCourse {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.showCourse h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.showCourse h2 span {
  font-size: 2rem;
  color: var(--Orange-50);
}
.showCourse hr {
  margin-bottom: 1rem;
}
.showCourse__downloadBtn {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #ffffff;
  background: var(--Orange-50);
  border-radius: 20px;
  cursor: pointer;
  transition: all linear 0.3s;
  margin-top: 2rem;
}
.showCourse__downloadBtn:active {
  scale: 98%;
}
