.showCourse{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.showCourse h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.showCourse h2 span{
    font-size: 2rem;
    color: var(--Orange-50);
    
}
.showCourse hr{
    margin-bottom: 1rem;

}