.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  padding: 2rem 5rem;
  z-index: 2000;
  backdrop-filter: blur(3px);
  top: -100vh;
  opacity: 0;
  transition: all ease-out 0.3s;
}
.modalActive{
  top: 0;
  opacity: 1;
}
.fuigbsdiusbdfoi {
  width: 30rem;
  height: auto;
  padding: 18px 41px;
  background: white;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  margin: 0 auto;
  display: flex;
}
.dfiosghfdgihfdnspio {
  align-self: stretch;
  height: 76px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}
.ifgshafjsdaojhois {
  align-self: stretch;
  text-align: center;
  color: #262626;
  font-size: 30px;
  font-family: boldFont;
  font-weight: 600;
  word-wrap: break-word;
}
.dfsiohgfdsiopghfsdoh {
  align-self: stretch;
  text-align: center;
  color: #4c4c4d;
  font-size: 14px;
  font-family: boldFont;
  font-weight: 400;
  word-wrap: break-word;
}
.ghfioughdsio {
  align-self: stretch;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}
.dfiopgndhspoghnfdsiogndfs {
  align-self: stretch;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  display: flex;
}
.fidoghfsd0ighiohndsiosd {
  align-self: stretch;
  height: 73px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.hdfioughsfisdhfsioaoi {
  align-self: stretch;
  color: #262626;
  font-size: 14px;
  font-family: boldFont;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.dfioughsdfposdhsoi {
  height: 2rem;
  align-self: stretch;
  padding: 20px;
  background: #fcfcfd;
  border-radius: 8px;
  border: 1px #f1f1f3 solid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.fghfjoifjreoieepo {
  flex: 1 1 0;
  color: #656567;
  font-size: 13px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
.fdioghfdoighjogjposop {
  width: 24px;
  height: 24px;
  position: relative;
}
.fdioghsdfnpogjgodsop {
  background: #f7f7f8;
  border-radius: 4px;
  overflow: hidden;
  border: 1px #f1f1f3 solid;
}
.siofdghsdfoifghfighpo {
  width: 21.53px;
  height: 16.5px;
  left: 1.23px;
  top: 3.75px;
  position: absolute;
  background: #4c4c4d;
}
.fudiosghsdfioghfdsioiouf {
  align-self: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: inline-flex;
  margin-bottom: 0.5rem;
}
.dioghfndighjoisoisd {
  flex: 1 1 0;
}
.fiughfdigusfhdgiossdi {
  color: #656567;
  font-size: 11px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
.idofhgsfioghjpoghogdsoi {
  color: #656567;
  font-size: 14px;
  font-family: boldFont;
  font-weight: 400;
  text-decoration: underline;
  line-height: 24px;
  word-wrap: break-word;
  color: var(--Orange-50);
}
.dioghoighdfighdsoigphgpsod {
  align-self: stretch;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: #ff9500;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.dfioghdfiogh9igsfgoisusou {
  flex: 1 1 0;
  text-align: center;
  color: white;
  font-size: 17px;
  font-family: boldFont;
  font-weight: 500;
  line-height: 21px;
  word-wrap: break-word;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all linear 0.2s;
  border: 0px;
}
.dfioghdfiogh9igsfgoisusou:hover {
  background: #f7f7f8;
  color: #ff9500;
}
.dfioghdfiogh9igsfgoisusou:active {
  scale: 95%;
}
.fgbfdihgjdoipjospdf {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 12px;
  display: inline-flex;
}
.diufghdfoighfdighfdois {
  flex: 1 1 0;
  height: 0px;
  border: 1px #e4e4e7 solid;
}
.dughdpighdfioghdfsoi {
  text-align: center;
  color: #98989a;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
}
.signUp {
  align-self: stretch;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #f7f7f8;
  border-radius: 8px;
  border: 1px #f1f1f3 solid;
  justify-content: center;
  align-items: center;
  gap: 14px;
  display: inline-flex;
  height: 4rem;
}
.foigdhfsiugjsdfpoigoip {
  width: 11.53px;
  height: 11.27px;
  left: 12.24px;
  top: 9.84px;
  position: absolute;
  background: #4285f4;
}
.dsiofghfsogjops {
  width: 18.68px;
  height: 9.7px;
  left: 1.52px;
  top: 14.3px;
  position: absolute;
  background: #34a853;
}
.ioghsfoidpghofgjfp {
  width: 5.26px;
  height: 10.78px;
  left: 0.24px;
  top: 6.61px;
  position: absolute;
  background: #fbbc04;
}
.doifghosdpghdogop {
  width: 18.75px;
  height: 9.71px;
  left: 1.52px;
  top: 0px;
  position: absolute;
  background: #ea4335;
}
.sdighdifghjidoghgioshdigdhio {
  color: #262626;
  font-size: 14px;
  font-family: boldFont;
  font-weight: 500;
  line-height: 21px;
  word-wrap: break-word;
}
.dfiohfdpgidfhisfdios {
  width: 100%;
  text-align: center;
  color: var(--text-color);
}
.dfiohfdpgidfhisfdios span {
  color: var(--Orange-50);
  cursor: pointer;
  transition: all linear 0.2s;
}
.dfiohfdpgidfhisfdios span:active{
  color: var(--text-color);
}
.isghsfghiousioud {
  text-align: center;
}
.dfioghfdopghfdsogop {
  color: #262626;
  font-size: 16px;
  font-family: boldFont;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
.idfuoghsdfpoigihogosp {
  color: #262626;
  font-size: 16px;
  font-family: boldFont;
  font-weight: 500;
  text-decoration: underline;
  line-height: 24px;
  word-wrap: break-word;
}
.dfioghfdspoigsdopis {
  width: 20px;
  height: 20px;
  position: relative;
}
.difghdfgjhojsodgj {
  width: 10.83px;
  height: 10.83px;
  left: 5px;
  top: 5px;
  position: absolute;
  border: 1.5px #262626 solid;
}
.poiplujkdfgh {
  width: 100%;
  height: 2.5rem;
}
.inputPassFlex {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border: 1px #f1f1f3 solid;
  border-radius: 8px;
}
.inputPassFlex input {
  border: 0px;
}
.inputPassFlex input:focus {
  outline: 0px;
}
.inputPassFlex img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.existModalBtn{
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all linear 0.1s;
}
.existModalBtn:active{
  scale: 90%;
}
.dhdfrtttdhffd{
  height: auto;
}
.rfyrtysrfewtrthd{
  font-size: 0.6rem !important;
  color: gray !important;
}
.gfdgoihoifg{
  width: 100%;
  direction: rtl;
  font-size: 0.9rem;
  font-family: sans-serif;

}
.login {
  align-self: stretch;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #f7f7f8;
  border-radius: 8px;
  border: 1px #f1f1f3 solid;
  justify-content: center;
  align-items: center;
  gap: 14px;
  display: inline-flex;
  height: 4rem;
}
.form__alert{
  font-size: 0.6rem;
  color: red;
}
.warringInput{
  border-bottom: 3px solid red !important;
}
