.pagination {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 5rem;
}
.pagination__btn {
  width: 4rem;
  height: 4rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Orange-50);
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all linear 0.1s;
}
.pagination__btn:hover {
  background: #ffffff;
  color: var(--Orange-50);
}
.pagination__btn:active {
  scale: 90%;
}
.paginationBtnActive {
  width: 4rem;
  height: 4rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all linear 0.1s;
  background: #ffffff;
  color: var(--Orange-50);
}
.courses__searchBar{
  max-width: 30rem;
  height: 3rem;
  border-radius: 10px;
  border-bottom: 3px solid var(--Orange-50);
  padding: 0 1rem;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  align-items: center;

}
.courses__searchBar input{
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  border-bottom: 3px solid var(--Orange-50);
  padding: 0 1rem;
  margin: 0 auto;
  background: #ffffff;
  height: 100%;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 20px;
  border: 0px;
}
.courses__searchBar input:focus{
  outline: 0px;
}
.courses__searchBar img{
  height: 2.6rem;
  transition: all linear 0.1s;
  cursor: pointer;
}
.courses__searchBar img:active{
  scale: 95%;
}