@media screen and (max-width: 1200px) {
  .title {
    font-size: 35px;
    font-weight: 400;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
  .divHr{
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .distance{
    height: 40px;
  }
}
@media screen and (max-width: 472px) {
  .container {
    padding: 0;
  }
}
