@font-face {
  font-family: boldFont;
  src: url("../public/fonts/BeVietnamPro-Black.ttf");
}
/* @font-face {
  font-family: regularFont;
  src: url("../public/fonts/");
} */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: boldFont;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --Absolute-White: #ffffff;
  --Orange-50: #ff9500;
}
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: #f1f1f3;
}
.App {
  width: 100%;
}
.contain {
  padding: 20px 30px;
  width: 100%;
}
.link {
  text-decoration: none;
  color: inherit;
}
.container {
  padding: 100px 132px;
  width: 100%;
}
.divHr {
  width: 100%;
  height: 200px;
}
.title {
  align-self: stretch;
  color: #262626;
  font-size: 48px;
  font-family: boldFont;
  font-weight: 600;
  line-height: 72px;
  word-wrap: break-word;
}
.image {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.distance {
  width: 100%;
  height: 80px;
}
.shad {
  box-shadow: 0px 0px 7px -5px #000;
}
.btn {
  font-family: boldFont;
  background: var(--Orange-50);
  color: #ffffff;
  transition: all linear 0.1s;
  cursor: pointer;
}
.btn:hover{
  background: #ffffff;
  color: var(--Orange-50) !important;
}
.btn:active{
  scale: 98%;
}
