@font-face {
  font-family: Be Vietnam Pro;
  src: url("../public/fonts/BeVietnamPro-Black.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --Absolute-White: #ffffff;
  --Orange-50: #ff9500;
}
body {
  width: 100%;
  height: auto;
}
.App {
  padding: 20px 30px;
}
.link {
  text-decoration: none;
  color: inherit;
}
